# Working with different Data types of Python

In [1]:
a=123
type(a)

int

In [2]:
b=12.3
type(b)

float

In [4]:
c=12+5j
type(c)

complex

In [5]:
d='Hello'
type(d)

str

In [6]:
e=True
type(e)

bool

In [7]:
f=[1,23,78.9,'rat']
type(f)

list

In [8]:
g=(1,2,3)
type(g)

tuple

In [9]:
h={1:'hello',2:21,3:14.5}
type(h)

dict

In [10]:
x=23
y=32
x+y

55

In [11]:
x,y

(23, 32)

In [12]:
a==b

False

In [13]:
a>b

True

In [14]:
a<b

False

In [15]:
a!=b

True

# Logical Operators

In [16]:
a=True
b=False

In [17]:
a&b

False

In [18]:
a|b

True

In [19]:
a&a

True

In [20]:
b&a

False

In [21]:
b|b

False

In [22]:
str2 = "sencond string"
str2

'sencond string'

In [23]:
str2[-3]

'i'

In [25]:
print(str2.upper()) #upper case
str2.lower() #lower case

SENCOND STRING

'sencond string'

In [26]:
len(str2) #length of string including spaces

14

In [27]:
str2.replace('n','m') #replace letters in string

'semcomd strimg'

In [28]:
str2.count('string')

1

In [29]:
tup1=(1,'a',True,12.34,5-7j)
#tuples are immutable(isme ek baar value bharne k baad change nhi kr sakte)
print(tup1)
type(tup1)

(1, 'a', True, 12.34, (5-7j))

tuple

In [30]:
#extracting elements
print(tup1[2])
tup1[0]

True

1

In [31]:
tup1[-1]

(5-7j)

In [32]:
tup1[-5]==tup1[0]

True

In [33]:
tup2=(2,3,4)
tup1+tup2

(1, 'a', True, 12.34, (5-7j), 2, 3, 4)

In [34]:
tup1+tup2*3

(1, 'a', True, 12.34, (5-7j), 2, 3, 4, 2, 3, 4, 2, 3, 4)

In [38]:
a=[1,6,4,3,2]
a1=set(a) #convert list into set
a1
b=[8,3,5,9,6]
b1=set(b)
print('b1: ',b1)
print('a1: ',a1)
#Union
print('a1 U B1: ',a1.union(b1))
#intersection
print('a1 INtersection b1 :',a1.intersection(b1))

b1:  {3, 5, 6, 8, 9}
a1:  {1, 2, 3, 4, 6}
a1 U B1:  {1, 2, 3, 4, 5, 6, 8, 9}
a1 INtersection b1 : {3, 6}