## OOPS Concept

In [1]:
# Creating 1st class

class Phone:  # name of class should be capital
    
    def call(self):
        return 'Calling....'
    def game(self):
        return 'Starting Game...'

In [2]:
p1=Phone()   #object create kiya

In [3]:
p1.call()    #parameters ko start kiya

'Calling....'

In [4]:
p1.game()

'Starting Game...'

In [5]:
#Adding parameters to the class

class Phone:
    
    def set_color(self,col):
        self.col=col
    def set_price(self,price):
        self.price=price
    def show_color(self):
        return self.col
    def show_price(self):
        return self.price

In [6]:
p1=Phone()

In [7]:
p1.set_color('Black')
p1.set_price(15000)

In [9]:
print(p1.show_color())
p1.show_price()

Black

15000

In [ ]:
#Constructor method to create a class
# __init__ ko use krke bna skte hain: isse ek hi line mein inputs
                                    #de skte hain

In [14]:
class Employee:
    def __init__(self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salaSchool_busry
        self.gender = gender
        
    def emp_details(self):
        print('Name : ',self.name)
        print('Age : ',self.age)
        print('Salary : ',self.salary)
        print('Gender : ',self.gender)

In [15]:
e1 = Employee('Aashish', 22,20000,'male')

In [16]:
e1.emp_details()

Name :  Aashish
Age :  22
Salary :  20000
Gender :  male

### Inheritance in Python

In [39]:
class Vehicle:
    
    def __init__(self,category,color,price,mileage):
        self.category = category
        self.price = price
        self.color = color
        self.mileage = mileage
        
    def vehicle_details(self):
        print('Category: ',self.category)
        print('Price: ',self.price)
        print('Color: ',self.color)
        print('Mileage: ',self.mileage)
        
    def capacity(self,capacity):
        return f"The capacity of {self.category} is {capacity} seater."

In [40]:
v1 = Vehicle('Car','Black',300000,20)

In [41]:
v1.vehicle_details()

Category:  Car
Price:  300000
Color:  Black
Mileage:  20

In [42]:
#Creating Child Class

class Bike(Vehicle):
    def show(self):
        print('My name is Bike and I am a Vehicle')

In [43]:
v2=Bike('PULSAR','White',150000,15)

In [44]:
v2.show()

My name is Bike and I am a Vehicle

In [45]:
v2.vehicle_details()

Category:  PULSAR
Price:  150000
Color:  White
Mileage:  15

In [46]:
v2.capacity(2)

'The capacity of PULSAR is 2 seater.'

In [47]:
v1.capacity(5)

'The capacity of Car is 5 seater.'

In [53]:
class Vehicle1:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

class Bus(Vehicle1):
    pass

School_bus = Bus("School Volvo", 12, 50)

In [55]:
print(type(School_bus))

<class '__main__.Bus'>

In [57]:
isinstance(School_bus,Vehicle1)

True

In [68]:
# Print a Diamond Pattern

def diamond(x):
    for i in range (x):
        for j in range (0,i+1):
            print('*',end=" ")
        print()
        
    for i in range(1,x):
        for j in range(i,x):
            print('*',end=" ")
        print()

In [69]:
diamond(4)

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
#Rock Paper Scissor game code

a=input()
b=input()

if a=='R'and b=='R':
    print('Try Again')
elif a==

In [74]:
i1 = input("Player 1 : ")

i2 = input("Player 2 : ")

if i1 == i2:
    print("tie")

elif i1=="rock" and i2=="scissor":
    print("rock wins")

# else:
#     print("paper wins")

elif i1=="scissor" and i2=="paper":
    print("scissor wins")
else:
    print("rock wins")

Player 1 : paper
Player 2 : scissor
rock wins