## Pandas

In [1]:
from sklearn.datasets import load_iris

In [2]:
import pandas as pd
import numpy as np

In [4]:
load_iris

In [11]:
type(load_iris)

function

In [10]:
df1=pd.read_csv(load_iris)
df1=pd.DataFrame(df1)
df1.head()

ValueError: Invalid file path or buffer object type: <class 'function'>

In [9]:
df=pd.read_csv('/home/xs295-ashson/Documents/jupyter/csv data sets/Train.csv')
df=pd.DataFrame(df)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [12]:
df.shape

(8523, 12)

In [13]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [14]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [15]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:
df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [17]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
s2=pd.Series(list(i for i in range (0,10)),index=list(i for i in range (1,11)))
s2

1     0
2     1
3     2
4     3
5     4
6     5
7     6
8     7
9     8
10    9
dtype: int64

In [21]:
s2[5]

4

In [23]:
s2[:4]

1    0
2    1
3    2
4    3
dtype: int64

In [26]:
import seaborn as sns
import matplotlib as plt

In [28]:
# SLICING 1st 2 rows and 3 columns

df.iloc[0:3,0:2]

  Item_Identifier  Item_Weight
0           FDA15         9.30
1           DRC01         5.92
2           FDN15        17.50

In [31]:
df.iloc[5:13,5:12]

,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646

In [32]:
#slicing using column names
df.loc[5:9,('Item_Fat_Content','Item_Visibility','Item_Type')]

  Item_Fat_Content  Item_Visibility     Item_Type
5          Regular         0.000000  Baking Goods
6          Regular         0.012741   Snack Foods
7          Low Fat         0.127470   Snack Foods
8          Regular         0.016687  Frozen Foods
9          Regular         0.094450  Frozen Foods

In [37]:
#Dropping Columns


df.drop('Item_Visibility',axis=1,inplace=True)
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [38]:
df.shape

(8523, 11)

In [41]:
#Dropping Rows

df.drop([2,3,5,6,9],axis=0).head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
4,NCD19,8.93,Low Fat,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
7,FDP10,NaN,Low Fat,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.20,Regular,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
10,FDY07,11.80,Low Fat,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.60,Regular,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.35,Low Fat,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260

In [42]:
#using user defined columns

def double(x):
    return x*2

In [45]:
#original values
print(df[['Item_Weight','Item_MRP']])

#doubled values
df[['Item_Weight','Item_MRP']].apply(double)

      Item_Weight  Item_MRP
0           9.300  249.8092
1           5.920   48.2692
2          17.500  141.6180
3          19.200  182.0950
4           8.930   53.8614
...           ...       ...
8518        6.865  214.5218
8519        8.380  108.1570
8520       10.600   85.1224
8521        7.210  103.1332
8522       14.800   75.4670

[8523 rows x 2 columns]

      Item_Weight  Item_MRP
0           18.60  499.6184
1           11.84   96.5384
2           35.00  283.2360
3           38.40  364.1900
4           17.86  107.7228
...           ...       ...
8518        13.73  429.0436
8519        16.76  216.3140
8520        21.20  170.2448
8521        14.42  206.2664
8522        29.60  150.9340

[8523 rows x 2 columns]

In [48]:
#sort values

df.sort_values(by='Item_Fat_Content')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
6442,FDS35,9.300,LF,Breads,65.7826,OUT018,2009,Medium,Tier 3,Supermarket Type2,968.7390
6238,DRM37,NaN,LF,Soft Drinks,197.8768,OUT019,1985,Small,Tier 1,Grocery Store,197.0768
3059,FDK14,6.980,LF,Canned,82.5934,OUT013,1987,High,Tier 3,Supermarket Type1,1310.2944
3830,FDW25,5.175,LF,Canned,86.9224,OUT013,1987,High,Tier 3,Supermarket Type1,255.6672
5460,FDT08,NaN,LF,Fruits and Vegetables,148.7050,OUT027,1985,Medium,Tier 3,Supermarket Type3,2996.1000
...,...,...,...,...,...,...,...,...,...,...,...
2111,FDH05,14.350,reg,Frozen Foods,231.8984,OUT049,1999,Medium,Tier 1,Supermarket Type1,4633.9680
151,FDR28,13.850,reg,Frozen Foods,161.5210,OUT018,2009,Medium,Tier 3,Supermarket Type2,1794.3310
2438,FDI10,8.510,reg,Snack Foods,172.9422,OUT013,1987,High,Tier 3,Supermarket Type1,1379.5376
1124,FDL38,13.800,reg,Canned,90.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,2141.2128
199,FDX49,NaN,reg,Canned,232.6300,OUT027,1985,Medium,Tier 3,Supermarket Type3,5359.6900

In [46]:
#count values

df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

# THREADING

In [49]:
import threading

In [60]:
from threading import Thread

#### Threads are python objects of threading.Thread() class.

In [61]:
threading.current_thread()

In [62]:
# Name of current thread
threading.current_thread().name

'MainThread'

In [63]:
# TID number of current thread

threading.current_thread().ident

140270273496896

In [64]:
# To check if thread is running or not

threading.current_thread().is_alive()

True

In [65]:
def display():
    for i in range(4):
        print('Hello')

In [66]:
t1=Thread(target=display)

In [67]:
t1.start()

Hello
Hello
Hello
Hello

In [82]:
def display2(n,msg):
    for i in range(n):
        print(msg)

In [83]:
t1=Thread(target=display2,args=(4,'Hello_001'))
t1.start()

Hello_001
Hello_001
Hello_001
Hello_001

In [96]:
def display3(n):
    for i in range(n):
        print('Hellooooo')

In [97]:
# Simultaneously working of main and branched thread

t2=Thread(target=display3,kwargs={'n':4})
t2.start()

for i in range(8):
    print(i)

Hellooooo
Hellooooo
Hellooooo
Hellooooo
0
1
2
3
4
5
6
7

In [99]:
#Thread for methods  (mtlb function in a different class)

class Example:
    def dis(self):
        for i in range(25):
            print('Hello Aashish',end=" ")
            
e1=Example()            
t1=Thread(target=e1.dis)
t1.start()

for i in range(6):
    print('Welcome to Xenon Stack')

Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello AashishWelcome to Xenon Stack
Welcome to Xenon Stack
 Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack
Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish

In [100]:
# same code with arguments

class Example:
    def dis(self,n):
        for i in range(n):
            print('Hello Aashish',end=" ")
            
e1=Example()            
t1=Thread(target=e1.dis,args=(11,))     #tuple mein comma lagana pdta hai
t1.start()

for i in range(6):
    print('Welcome to Xenon Stack')

Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Hello Aashish Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack
Welcome to Xenon Stack